@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-primary;
  }
}

@layer components {
  .step-indicator {
    background-image: url(/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-size: cover;
  }

  @media only screen and (min-width: 1024px) {
    .step-indicator {
      background-image: url(/images/bg-sidebar-desktop.svg);
    }
  }
}
